on:
  pull_request:
  push:

jobs:
  tests:
    runs-on: "ubuntu-20.04"

    strategy:
      matrix:
        php-version:
          - "7.4"

    steps:
      - name: "Set default PHP version"
        run: "sudo update-alternatives --set php /usr/bin/php${{ matrix.php-version }}"

      - name: "Look!"
        run: |
          composer create-project neos/neos-base-distribution neos
